.icon_mini {
  width: 20px;
  height: 20px;
  object-fit: contain;

}



.message-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #14518c;
}

.message-list-header {
  flex: 0 0 auto;
  border-bottom: 1px solid #14518c;

}

.message-list-content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
  max-height: 40vh;
}


.mini_bar {
  height: 28px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  gap: 4px;
  overflow: hidden;
  border-top: 1px solid #14518c;
  position: relative;

}

.down_mini_bar {
  align-items: center;
  font-size: 18px;
  display: grid;
  grid-template-columns: auto 70px 1fr 1fr 1fr auto auto;
  gap: 2px;
  padding: 0 8px;
  height: 32px;
  border-top: 1px solid #14518c;
}




.tot_msg {
  margin-left: auto;
  font-size: 10px;
  line-height: 12px;
}

.filter_msg {
  border-right: 1px solid #14518c;
  align-items: center;
  font-size: 18px;

}







.mini_bar img.filter_msg {
  border-right: 0;
}



@media (max-width: 768px) {

  .down_mini_bar {
    grid-template-columns: auto 0.8fr 1.2fr 1fr auto auto;
    gap: 2px;
    padding: 0 4px;
    height: 28px;
  }

  .prova {
    display: none;
  }



  .filter_msg {
    font-size: 16px;
    line-height: 14px;
  }

  .message-list-content {

    min-height: 0;
    max-height: 30vh;
  }
}