.icon-sm {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0px;
  margin-bottom: 4px;
}

.mailview__prevNext-btn {
  border: 0px;
  background-color: transparent;
  margin-top: 4px;
}

.mailview {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #14518c;
}

.mailview__top {
  flex: 0 0 auto;
  border-bottom: 1px solid #14518c;
}

.mailview__content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
  max-height: 40vh;
}

.mailview__mini-bar {
  height: 32px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 8px;
  padding: 0 8px;
  gap: 4px;
  overflow: hidden;
  position: relative;
  font-size: 20px;
}

.mailview__mini-bar--secondary {
  align-items: center;
  font-size: 20px;
  display: grid;
  grid-template-columns:  100px 1fr 1fr 1fr auto auto;
  gap: 2px;
  padding: 0 8px;
  height: 32px;
  border-top: 1px solid #14518c;
}

.mailview__total {
  margin-left: auto;
  line-height: 12px;
}

.mailview__column {
  border-right: 1px solid #14518c;
  align-items: center;
}

.mailview__mini-bar--secondary img.mailview__column {
  border-right: 0;
}

.mailview__column--preview {
  border: none;
}

@media (max-width: 768px) {

  .icon-sm {
  width: 24px;
  height: 24px
}



  .mailview__mini-bar {
    margin: 0;
  }

  .mailview__mini-bar--secondary {
    grid-template-columns: 80px  auto auto 15px 24px;
    gap: 2px;
    padding: 0 4px;
    height: 28px;
  }

  .mailview__column--preview{
    display: none;
  }

  .mailview__column{
    font-size: 16px;
    line-height: 14px;
  }

  .mailview__content {
    min-height: 0;
    max-height: 30vh;
  }
}