<div class="message-list">
  <div class="message-list-header">
    <div class="mini_bar">
      <!-- <span class="title_msg">Barra di navigazione</span> -->
      <span class="tot_msg">12 messagi di 228</span>
      <img class="icon_mini icon_msg" src="images/prev64.png" alt="prev">
      <img class="icon_mini icon_msg" src="images/next64.png" alt="next">
    </div>

    <div class="down_mini_bar">
      <input id="selectAll" class="anteprima " type="checkbox">
      <span class="filter_msg div_data">Data:</span>
      <span class="filter_msg">Mittente:</span>
      <span class="filter_msg">Oggetto:</span>
      <span class="filter_msg prova">Anteprima:</span>
      <input id="deleteAllMail" class="deleteMail deleteAllMail" type="checkbox">
      <img class="icon_mini " src="images/trash64.png" alt="Trash">
    </div>

  </div>

  <div class="message-list-content">
    <app-message-list [selectedMail]="selectedMail" (mailSelected)="onMailSelected($event)"
      [mails]="mails"></app-message-list>
  </div>

  <app-message-viewer [mail]="selectedMail"></app-message-viewer>


  <p *ngIf="loading">Caricamento…</p>
  <p *ngIf="error" class="error">{{ error }}</p>
</div>