<main class="mailview">
  <div class="mailview__top">
    <div role="toolbar" class="mailview__mini-bar">
      <!-- <span class="title_msg">Barra di navigazione</span> -->
      <span class="mailview__total">12 messagi di 228</span>
      <img class="icon-sm" src="images/prev64.png" alt="prev">
      <img class="icon-sm" src="images/next64.png" alt="next">
    </div>

    <div class="mailview__mini-bar--secondary">
      <input id="selectAll" type="checkbox">
      <span class="mailview__column">Data:</span>
      <span class="mailview__column">Mittente:</span>
      <span class="mailview__column">Oggetto:</span>
      <span class="mailview__column mailview__column--preview">Anteprima:</span>
      <input id="deleteAllMail" class="deleteMail deleteAllMail" type="checkbox">
      <img class="icon-sm" src="images/trash64.png" alt="Trash">
    </div>

  </div>

  <section class="mailview__content">
    <app-mail-list [selectedMail]="selectedMail" (mailSelected)="onMailSelected($event)"
      [mails]="mails"></app-mail-list>
  </section>

  <app-mail-detail [mail]="selectedMail"></app-mail-detail>


  <p *ngIf="loading">Caricamento…</p>
  <p *ngIf="error" class="error">{{ error }}</p>
</main>