<main class="mailview">
  <div class="mailview__top">
    <div role="toolbar" class="mailview__mini-bar">

      <span class="mailview__total">
        <ng-container *ngIf="total > 0; else zero">
          {{ showingFrom }}–{{ showingTo }} di {{ total }}
        </ng-container>
        <ng-template #zero>0 di 0</ng-template>
      </span>

      <button (click)="prev()" [disabled]="pageIndex === 0"> <img class="icon-sm" src="images/prev64.png"
          alt="prev"></button>
      <button (click)="next()" [disabled]="(pageIndex + 1) * pageSize >= total"><img class="icon-sm"
          src="images/next64.png" alt="next"> </button>

    </div>

    <div class="mailview__mini-bar--secondary">
      <input id="selectAll" type="checkbox">
      <span class="mailview__column">Data:</span>
      <span class="mailview__column">Mittente:</span>
      <span class="mailview__column">Oggetto:</span>
      <span class="mailview__column mailview__column--preview">Anteprima:</span>
      <input id="deleteAllMail" class="deleteMail deleteAllMail" type="checkbox">
      <img class="icon-sm" src="images/trash64.png" alt="Trash">
    </div>

  </div>

  <section class="mailview__content">
    <app-mail-list [selectedMail]="selectedMail" (mailSelected)="onMailSelected($event)"
    [mails]="(mails$ | async) ?? []"></app-mail-list>
  </section>

  <app-mail-detail [mail]="selectedMail"></app-mail-detail>


  <p *ngIf="loading">Caricamento…</p>
  <p *ngIf="error" class="error">{{ error }}</p>
</main>