.header__account-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Arial, sans-serif;
}

.header__settings-icon {
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.header__user-avatar {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
}

.header__username {
    margin: 0;
    color: #333;
    font-size: 24px;
}

/* Stili responsive */
@media (max-width: 768px) {
    .header__account-container {
        gap: 4px;
    }

    .header__user-avatar {
        margin: 0;
        width: 32px;
        height: 32px;
    }

    .header__username {
        font-size: 16px;
    }

}