.search-wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
}


.search-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: none;
}

.icon_mini {
  width: 18px;
  height: 18px;
}

.compose_btn {
  display: inline-flex;
  margin: 0;
  padding: 4px 8px;
  border: 0.4px solid #14518c;
  border-radius: 20px;
  background: #f8f8f8;
  color: #14518c;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  align-items: center; 
  justify-content: center; 
  height: 32px; 
 

}

.search-form  {
  display: flex;
  gap: 8px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  align-items: center; 
  height: 40px; 
}





.input_form {
  border: 1px solid #14518c;
  border-radius: 8px;
  height: 32px;
  padding: 0 8px; 
  margin: 4px; 
  width: 300px;

  -webkit-box-shadow:0px 0px 8px 2px #1A05A7;
-moz-box-shadow:0px 0px 8px 2px #1A05A7;
-o-box-shadow:0px 0px 8px 2px #1A05A7;
box-shadow:0px 0px 8px 2px #1A05A7;
}



/////////// deep




@media (max-width: 768px) {
 
.compose_btn span {
  display: none;
}

  .compose_btn {

    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;
  }

}