.search-wrapper {
  display: flex;
  align-items: center;
}


.search-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: none;
}

.icon_mini {
  width: 20px;
  height: 20px;
}

.compose_btn {
  display: inline-flex;
  margin: 12px auto 12px 4px;
  padding: 4px 8px;
  border: 0.4px solid #14518c;
  border-radius: 20px;
  background: #f8f8f8;
  color: #14518c;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;

}

#search .header {
  display: flex;
  gap: 8px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.navbar #search {
  display: none;
}


#search-box {
  border: 1px solid #14518c;
  border-radius: 8px;
  height: 32px;
}

.header .search-toggle {
  display: none;
}

.navbar .search-toggle {
  display: none;
}

/////////// deep



/* Mobile (<768px) */
@media (max-width: 768px) {

  #search-box {
    display: none;
  }

  .header #search {
    display: none;
  }


  .navbar .search-toggle {
    display: none;
  }

  .compose_btn {

    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  #search button span {
    display: none;
  }



  .navbar #search {
    display: flex;
    gap: 8px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }


  // .navbar #search {

  // }


}