.compose_btn {
  display: inline-flex;
  margin: 12px auto 12px 4px;
  padding: 8px 16px;
  border: 0.4px solid #14518c;
  border-radius: 20px;
  background: #f8f8f8;
  color: #14518c;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.navbar_search {
    display: none;
}
.btn_link {
  text-decoration: none;
  color: inherit;
}

.compose_btn:hover {
  background: #1664c4;
  color: #ec044c;
}

#sidebar .list_title {
  margin: 8px 0 4px;
  text-align: left;
  font-weight: 600;
  padding-left: 4px;
}

.list_sidebar {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.list_sidebar li:hover {

  background-color: #1664c4;
  cursor: pointer;
}

#sidebar li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 6px;
  border-radius: 6px;
  /* border: red solid 1px; */

}


.icon_mini {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

#sidebar .add_folder {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 0 6px;
}




////////////////



@media (max-width: 768px){
.navbar_search {
    display: flex;
}

#search-box{
  display: none;

} 

.compose_btn span {
  display: none;
  
}

}