<aside class="navbar__wrapper">
  <app-navbar-actions (labelCreateRequested)="onCreateLabel($event)"></app-navbar-actions>

  <!-- Select per mobile/tablet -->
  <select *ngIf="!(viewportServ.isDesktop$ | async)" class="folder-select" (change)="onSelectChange($event)">
    <option value="">Seleziona cartella...</option>

    <optgroup label="Folder List">
      <option value="folder:inbox">Inbox</option>
      <option value="folder:draft">Draft</option>
      <option value="folder:sent">Sent</option>
      <option value="folder:trash">Trash</option>
    </optgroup>

    <optgroup label="Preferite">
      <option value="label:starred">Mail Preferite</option>
    </optgroup>

    <optgroup label="Custom Label">
      <!-- labels$ arriva dal service nel componente navbar -->
      <option *ngFor="let l of labels$ | async" [value]="'label:' + ('lbl_' + l.id)">
        {{ l.name }}
      </option>
    </optgroup>
  </select>

  <!-- Folder visibili su desktop -->
  <!-- pipe async evita ondestroy con unsubscribe (subscribe/ unsubscribe automatico) "Reactive Templates" -->

  <div *ngIf="(viewportServ.isDesktop$ | async)" class="navbar__folders">
    <nav aria-label="Folder di sistema">
      <p class="navbar__group-title">Folder List</p>
      <ul class="navbar__list">
        <li (click)="onFolderClick('inbox')">
          <img class="icon-sm" src="images/inbox64.png" alt="Inbox"> <span>Inbox</span>
        </li>
        <li (click)="onFolderClick('draft')">
          <img class="icon-sm" src="images/draft64.png" alt="Draft"> <span>Draft</span>
        </li>
        <li (click)="onFolderClick('sent')">
          <img class="icon-sm" src="images/sent64.png" alt="Sent"> <span>Sent</span>
        </li>
        <li (click)="onFolderClick('trash')">
          <img class="icon-sm" src="images/trash64.png" alt="Trash"> <span>Trash</span>
        </li>
      </ul>
    </nav>

    <nav aria-label="Folder preferiti">
      <!-- <p class="navbar__group-title">Mail Preferite</p> -->

      <ul class="navbar__list">
        <li (click)="onLabelClick('starred')">
          <img class="icon-sm" src="images/star64.png" alt="starred"> <span>Mail Salvate</span>
        </li>
      </ul>
    </nav>

    <nav aria-label="Folder personalizzati">
     
      <!-- Passa gli input e ascolta l’output -->
      <app-navbar-label-picker [labels$]="labels$" [activeKey]="activeLabelKey"
        (labelSelected)="onLabelKeySelected($event)">
      </app-navbar-label-picker>
    </nav>
  </div>

</aside>