
<nav aria-label="Custom labels" class="label-list">
  
 <p class="navbar__group-title">Custom Label</p>
  
  <ng-container *ngIf="labels$ | async as labels">
    <ng-container *ngIf="labels.length; else empty">
      <ul class="navbar__list">
        <li
          *ngFor="let l of labels; trackBy: trackById"
          class="navbar__item"
          type="button"
            class="navbar__btn"
            (click)="onItemClick(l)"
            [class.is-active]="activeKey === ('lbl_' + l.id)"
            [attr.aria-current]="activeKey === ('lbl_' + l.id) ? 'page' : null"
        >
         
        
            <img class="icon-sm" src="images/privacy64.png" [alt]="l.name" />
            <span>{{ l.name }}</span>
          
        </li>
      </ul>
    </ng-container>
  </ng-container>

  <ng-template #empty>
    <p class="navbar__empty">Nessuna label personalizzata.</p>
  </ng-template>
</nav>
