<article id="centralDown" *ngIf="mail">
  <div class="mail_head">
    <div class="mail_subject">Oggetto: {{ mail.oggetto }}</div>

    <div class="mail_meta">
      <span>Da: {{ mail.mittente }}</span> 
       <!-- fare pipe  <span>Da: {{ extractName(mail.mittente) }}  {{ extractEmail(mail.mittente) }}</span> -->
      <span> • A: {{ mail.destinatario }}</span>
      <span>{{ mail.data | date : 'dd/MM/yyyy HH:mm' }}</span>
    </div>
  </div>

  <div class="real_message">
    {{ mail.body }}
  </div>
</article>