
.maildetail__head {
  padding: 8px;
border-top: 1px solid #14518c;
border-bottom: 1px solid #14518c;
}

.maildetail__subject {
  font-weight: 700;
  margin: 0 0 4px 0;
  font-size: 32px;
}

.maildetail__meta {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.maildetail__meta time {
  margin-left: auto;
  font-size: 12px;
  white-space: nowrap;
  color: #555;
}

.maildetail__body {
 margin: 12px 8px;
  font-size: 24px;
  border: 2px solid #14518c;
   border-radius: 16px;
  background-color: rgba(156, 225, 235, 0.308);
  padding: 8px 10px;
}