<article *ngIf="mail">
  <div class="maildetail__head">
    
    <div class="maildetail__header-content">
    <div class="maildetail__subject">Oggetto: {{ mail.subject }}</div>

</div>
    <div class="maildetail__meta">
      <span>Da: {{ mail.from }}</span> 
       <!-- fare pipe  <span>Da: {{ extractName(mail.mittente) }}  {{ extractEmail(mail.mittente) }}</span> -->
      <span> • A: {{ mail.to }}</span>
      <span>{{ mail.createdAt | date : 'dd/MM/yyyy HH:mm' }}</span>
    </div>
    <app-mail-label-selector [value]="mailLabelIds"   [labels$]="labels$" (valueChange)="onSelectorChange($event)" class="mailview__detail-selector"></app-mail-label-selector>
  </div>

  <div class="maildetail__body">
    {{ mail.body }}
  </div>
</article>