        <article id="centralDown">
            <div class="mail_head">
                <div class="mail_subject">Oggetto: Sala Prove</div>

                <div class="mail_meta">
                    <span>Da: Salette &lt;ciaone&#64;hotmail.com&gt;</span>
                    <span>• A: gio&#64;example.com</span>
                    <time datetime="2025-09-08T09:42:00+02:00">22 ago 2025, 09:42</time>
                </div>

                <div class="real_message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque architecto
                    ratione
                    esse quod dignissimos, ducimus libero a itaque laudantium vero dicta obcaecati distinctio molestiae?
                    Possimus, aperiam. Aliquam deserunt reiciendis nisi! Lorem ipsum, dolor sit amet consectetur
                    adipisicing
                    elit. Voluptatum earum recusandae exercitationem laudantium iusto labore nemo nam, natus porro,
                    distinctio minima officiis at. Voluptatibus quibusdam, inventore deserunt voluptates soluta magnam.
                </div>
            </div>
        </article>