


.app-container {
  display: grid;
  grid-template-areas:
    "header header"
    "navbar mailView"
    "navbar mailView";
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  gap: 0;
}

.app-header {
  grid-area: header;
  background-color: #f8f9fa;
  position: relative; 
    width: 100%;

}


.app-mailView {
    grid-area: mailView;
    overflow-y: auto;
}


.app-navbar {
  grid-area: navbar;
  background-color: #e9ecef;
  border-bottom: 1px solid #dee2e6;
}





// Responsive design per mobile
@media (max-width: 768px) {


  .app-container {
    grid-template-areas:
      "header"
      "navbar"
      "mailView";
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
   
  }
  

}