.app-container {
  display: grid;
  grid-template-areas:
    "header_home header_home"
    "navbar mailView"
    "navbar mailView";
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 300px auto;
//   height: 100vh;
 }

.app-header {
  position: relative;
 grid-area: header_home;
}
.app-mailView {
    grid-area: mailView;
    overflow-y: auto;
}
.app-navbar {
  grid-area: navbar;
}

@media (max-width: 768px) {

  .app-container {
    grid-template-areas:
      "header_home"
      "navbar"
      "mailView";
    grid-template-columns: auto ;
    grid-template-rows: 60px auto auto;
   
  }
}