.account_container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-family: Arial, sans-serif;

}



.icon_nav {
    width: 64px;
    height: 64px;
}

#nick {
    margin: 0;
    color: #333;
    font-size: 24px;
}

/* Stili responsive */
@media (max-width: 480px) {
    .title_container {
        flex-direction: column;
        text-align: center;
    }

#nick {

    font-size: 24px;
}
    
}