<div class="mailcard" [class.mail-selected]="isSelected">

  <div>
    <div class="mailcard__row">

      <img class=" mailcard__icon"
        [src]="(mail.labels?.includes('starred') ? 'images/star64.png' : 'images/addstar64.png')"
        (click)="onStarClick($event)" aria-hidden="true">

      <!-- data -->
      <span class="mailcard__cell">
        {{ mail.createdAt | date:'dd-MMM' | uppercase }}
      </span>

      <!-- mittente (renderizza &#64; come @) -->
      <span class="mailcard__cell" [innerHTML]="mail.from"></span>

      <!-- oggetto -->
      <span class="mailcard__cell">
        Oggetto: {{ mail.subject }}
      </span>

      <!-- anteprima -->
      <span class="mailcard__cell mailcard__cell--preview">
        Anteprima: {{ mail.preview }}
      </span>

      <!-- checkbox elimina (solo layout, disattivata) -->
      <input class="mailcard__delete" type="checkbox">

      <!-- icona trash (solo display) -->
      <img class="icon_mini" src="images/trash64.png" alt="Trash" aria-hidden="true">
    </div>


  </div>
</div>