.icon_mini {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.mailcard__icon{
  width: 40px;
  height: 40px;
}

.mailcard.mail-selected .mailcard__row {
  
  // border: 3px solid #DF3000 !important;
-webkit-box-shadow:0px 0px 10px 5px #DF3000;
-moz-box-shadow:0px 0px 10px 5px #DF3000;
-o-box-shadow:0px 0px 10px 5px #DF3000;
box-shadow:0px 0px 10px 5px #DF3000;
}

.mailcard__row-container {
 
  background-color: transparent;
  margin: 16px 12px;
}

.mailcard__row {
  display: grid;
  grid-template-columns: auto 60px 1fr 1fr 1fr auto auto;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  padding: 0 8px;
  height: 64px;
  border-radius: 20px;
  transition: background-color 0.2s ease, border-left 0.2s ease;
-webkit-box-shadow:0px 0px 8px 2px #1A05A7;
-moz-box-shadow:0px 0px 8px 2px #1A05A7;
-o-box-shadow:0px 0px 8px 2px #1A05A7;
box-shadow:0px 0px 8px 2px #1A05A7;
}

.mailcard__cell {
  flex: 1 1 0;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  align-items: center;
}

.mailcard__check, .mailcard__delete {
  width: 16px;
  height: 16px;
}

.mailcard__cell--preview {
  font-style: italic;
  color: #666;
}

.mailcard__row img.filter_msg {
  border-right: 0;
  opacity: 0.6;
}

.mailcard__row:hover {
  background-color: #0b84ee81;
  cursor: pointer;
}

  .mailcard__row .mailcard__cell:not(:first-of-type) {
    font-size: 24px;
  }

  :host {
  display: block;

}

/* Mail LETTA */
:host(.is-read) {
  border-radius: 20px;
}

/* Mail NON letta */
:host(.is-unread) {
  color: #222;
  border-radius: 20px;
  background-color:#14508c63;
  border: 1px #2807FF solid;
-webkit-box-shadow:inset 0px 0px 2px 2px #2807FF;
-moz-box-shadow:inset 0px 0px 2px 2px #2807FF;
-o-box-shadow:inset 0px 0px 2px 2px #2807FF;
box-shadow:inset 0px 0px 2px 2px #2807FF;
margin: 0px 4px;
}

@media (max-width: 768px) {
  .mailcard__row {
    grid-template-columns: auto 40px 1.2fr 1fr auto auto;
    gap: 2px;
    padding: 0 2px;
    height: 62px;
  }

  /* Nascondi la colonna anteprima */
  .mailcard__cell--preview {
    display: none ; 
  }

 
  .mailcard__row .mailcard__cell:first-of-type {
    font-size: 10px;
    min-width: 45px;
    text-transform: uppercase;
  }

  
  .mailcard__row .mailcard__cell:not(:first-of-type) {
    font-size: 20px;
  }

 
  .mailcard__check, .mailcard__delete {
    width: 14px;
    height: 14px;
      margin-left: auto;
  }

  .mailcard__row img.mailcard__icon {
    width: 24px;
    height: 24px;
  }


  .mailcard__row:hover {
    background-color: #e3f2fd;
  }

  .mailcard__cell:first-of-type {
    font-weight: 600;
  }

  .mailcard {
    padding: 0 8px;
  }

:host(.is-unread) {
  color: #222;
  border-radius: 20px;
  background-color:#14508c63;
  border: 1px #2807FF solid;
-webkit-box-shadow:inset 0px 0px 16px 2px #2807FF;
-moz-box-shadow:inset 0px 0px 16px 2px #2807FF;
-o-box-shadow:inset 0px 0px 16px 2px #2807FF;
box-shadow:inset 0px 0px 16px 2px #2807FF;

}
}