.icon_mini {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.mailcard__icon{
  width: 28px;
  height: 28px;
}

.mailcard.mail-selected .mailcard__row {
  
  border: 3px solid #0d09f3 !important;
}

.mailcard__row {
  display: grid;
  grid-template-columns: auto 60px 1fr 1fr 1fr auto auto;
  align-items: center;
  gap: 4px;
  padding: 0 8px;
  height: 32px;
  border-bottom: 1px solid #e6e6e6;
  transition: background-color 0.2s ease, border-left 0.2s ease;
}

.mailcard__cell {
  flex: 1 1 0;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  align-items: center;
}

.mailcard__check, .mailcard__delete {
  width: 16px;
  height: 16px;
}

.mailcard__cell--preview {
  font-style: italic;
  color: #666;
}

.mailcard__row img.filter_msg {
  border-right: 0;
  opacity: 0.6;
}

.mailcard__row:hover {
  background-color: #0b84ee81;
  cursor: pointer;
}

  .mailcard__row .mailcard__cell:not(:first-of-type) {
    font-size: 24px;
  }

  :host {
  display: block;
  border-bottom: 1px solid #e6e6e6; 
}

/* Mail LETTA */
:host(.is-read) {
  background-color: #f7f9fc;
  color: #666;
}

/* Mail NON letta */
:host(.is-unread) {
  background-color: #1664c46b;
  color: #222;
  
}

@media (max-width: 768px) {
  .mailcard__row {
    grid-template-columns: auto 40px 1.2fr 1fr auto auto;
    gap: 2px;
    padding: 0 2px;
    height: 28px;
  }

  /* Nascondi la colonna anteprima */
  .mailcard__cell--preview {
    display: none ; 
  }

 
  .mailcard__row .mailcard__cell:first-of-type {
    font-size: 10px;
    min-width: 45px;
    text-transform: uppercase;
  }

  
  .mailcard__row .mailcard__cell:not(:first-of-type) {
    font-size: 16px;
  }

 
  .mailcard__check, .mailcard__delete {
    width: 14px;
    height: 14px;
      margin-left: auto;
  }

  .mailcard__row img.mailcard__icon {
    width: 16px;
    height: 16px;
  }


  .mailcard__row:hover {
    background-color: #e3f2fd;
  }

  .mailcard__cell:first-of-type {
    font-weight: 600;
  }

  .mailcard {
    padding: 0 8px;
  }

  /* Stile selected per mobile */
  // .mailcard.mail-selected .mailcard__row {
  //   border-left-width: 2px;
  // }
}