.container_actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
}

.compose_btn { 
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin: 2px 0;
  padding: 8px 16px;
  border: 0.4px solid #14518c;
  border-radius: 20px;
  background: #f8f8f8;
  color: #14518c;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.compose_btn:hover {
  background: #1664c4;
  color: #fff;
}

.icon_mini {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* Media query per mobile */
@media (max-width: 768px) {
  .container_actions {
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 4px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container_actions .compose_btn {
    margin: 2px;
    padding: 6px 8px;
  }
  
//   .container_actions .compose_btn span {
//     display: none; /* Nascondi il testo su mobile */
//   }
}