.navbar__actions-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.navbar__actions-button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
  padding: 8px 16px;
  border: 0.4px solid #14518c;
  border-radius: 20px;
  background: #f8f8f8;
  color: #14518c;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.navbar__actions-button:hover {
  background: #1664c4;
  color: #fff;
}

.icon-sm {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* Media query per mobile */
@media (max-width: 768px) {
  .navbar__actions-container {
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 4px;
    flex-wrap: wrap;
    justify-content: center;
  }
}