<div class="container_actions">
<button type="button" class="compose_btn" (click)="vp.openCompose()">
  <img src="images/edit64.png" class="icon_mini" alt=""><span>New Mail</span>
</button>

  <button id="add_folder_btn" class="compose_btn">
    <img src="images/plus64.png" alt="aggiungi" class="icon_mini"><span>New Folder</span>
  </button>

  <!-- Toggle SOLO tablet/mobile -->
  <button class="compose_btn"
          *ngIf="!(vp.isDesktop$ | async)"
          (click)="toggleSearch()"
          [attr.aria-expanded]="(vp.searchOpen$ | async) ? 'true' : 'false'"
          aria-controls="nav-search">
          <img src="images/search64.png" alt="aggiungi" class="icon_mini"><span>Cerca</span>
    <!-- <img src="images/search64.png" alt="Cerca" class="icon_mini"> -->
    
  </button>

  <!-- Barra di ricerca compatta: SOLO tablet/mobile + se aperta -->
  <div *ngIf="(!(vp.isDesktop$ | async)) && (vp.searchOpen$ | async)" id="nav-search">
    <app-search-module></app-search-module>
  </div>
</div>
